*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
body{
    font-family: sans-serif;
    background-color: #fff;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.inner{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.wrapper{
      width: 60%;
  }
  #product-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 50px;
  }
  
  .product-card {
    width: 100%;
    border: 1px solid #ccc;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  #product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  #product-details img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
  }
  